project_id = "okntvbjbpdtyhctgiarp"

[functions.ai-reflection]
verify_jwt = false

[functions.check-subscription]
verify_jwt = false

[functions.create-checkout]
verify_jwt = false

[functions.customer-portal]
verify_jwt = false

[functions.delete-account]
verify_jwt = false
